---
title: True Tourism - La bonne façon de visiter
permalink: /
permalink_lang:
    fr: /
    en: /
    es: /
lang: fr
page_id: home
---
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>True Tourism - La bonne façon de visiter</title>
    <meta name="description"
          content="La nouvelle application de tourisme entre particuliers centrée sur Marseille, qui propose des visites touristiques menées par des guides locaux passionnés.">

    <meta name="keywords"
          content="true, trourism, tourisme, marseille, sud, bonne, façon, visiter, visite, visite guidée, personnalisée, thème, randonné, guide, guide touristique, locaux, passionné, application, mobile, android, ios, apple, google, play store, app store">
    <meta name="author" content="True Tourism">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#00B382">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="https://www.truetourism.fr/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="https://www.truetourism.fr/favicon.ico" type="image/x-icon"/>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-682QSZZ2J4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-682QSZZ2J4');
    </script>

    <!-- Tailwind CSS -->
    <link href="/dist/output.css" rel="stylesheet">
    <link href="/css/animation.css" rel="stylesheet">

    <script defer src="/js/animation.js"></script>

    {% seo %}
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

<header class="bg-primary py-4">
    <div class="container mx-auto flex justify-between items-center px-6">
        <a class="text-2xl font-bold text-white">TRUE TOURISM</a>
        <nav>
            <ul class="flex">
                <li><a class="text-white hover:text-details text-lg px-4" href="{{ site.url }}/{% if page.lang != site.default_lang %}{{ page.lang }}/{% endif %}blog">Blog</a></li>
                <li><a class="text-white hover:text-details text-lg px-4" href="mailto:communication@truetourism.fr">{{ site.data["index"].contact }}</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="container my-10 mx-auto mr-0">
    <div class="flex flex-wrap items-center">
        <div class="w-full md:w-1/2 justify-center px-12">
            <div class="flex justify-center">
                <img class="object-center" src="/assets/true_tourism_logo.svg" alt="True Tourism Logo">
            </div>
            <p class="text-alternative text-xl py-2" id="header-text">{{ site.data["index"].header-text }}
            </p>
            <div class="flex flex-col justify-center items-center pb-12">
                <div class="flex-col py-4">

                    <a href="https://apps.apple.com/us/app/true-tourism/id6449162292?itsct=apps_box_badge&amp;itscg=30200">
                        <img
                                id="app-store"
                                class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 2xl:w-1/5"
                                alt="Télécharger sur l’App Store"
                                src="{{ site.data['index'].app-store }}"
                        >
                    </a>

                    <a href='https://play.google.com/store/apps/details?id=fr.truetourism.app&utm_source=truetourism.fr&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                        <img
                                id="google-play"
                                class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 2xl:w-1/5"
                                alt="Disponible sur Google Play"
                                src="{{ site.data['index'].google-play }}"
                        />
                    </a>

                </div>
            </div>
        </div>
        <div class="w-full md:w-1/2 justify-end">
            <img src="/assets/illustration_mobile.png" alt="Illustration Mobile">
        </div>
    </div>
</section>

<section class="bg-primary py-8">
    <div class="container flex flex-col items-center mx-auto px-2 pt-4 pb-12 animated-hidden">
        <h2 id="section-title-1"
            class="w-full md:w-1/2 px-2 py-2 align-baseline text-3xl md:text-5xl font-bold leading-tight text-center text-white bg-alternative rounded-full break-words">
            {{ site.data["index"].section-title-1 }}</h2>

        <div class="flex flex-col justify-center items-center pt-8 my-0 md:my-8  sm:my-4">

            <div class="flex flex-col md:flex-row w-5/6 justify-center bg-white shadow-md rounded-lg p-8 mt-8 sm:mt-0 my-4 gap-4 animated-hidden animated-element">
                <div class="self-center">
                    <div class="h-24 w-24 rounded-full bg-detail flex justify-center items-center">
                        <img class="h-20 w-20" src="/assets/heart.svg" alt="Heart Logo">
                    </div>
                </div>
                <div class="flex-grow">
                    <h2 class="text-lg title-font text-center md:text-left font-medium mb-3" id="title-1">{{ site.data["index"].title-1 }}</h2>
                    <p class="leading-relaxed text-base" id="description-1">{{ site.data["index"].description-1 }}</p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row w-5/6 justify-center bg-white shadow-md rounded-lg p-8 mt-8 sm:mt-0 my-4 gap-4 animated-hidden animated-element">
                <div class="self-center">
                    <div class="h-24 w-24 rounded-full bg-detail flex justify-center items-center">
                        <img class="h-20 w-20" src="/assets/crown.svg" alt="Crown Logo">
                    </div>
                </div>
                <div class="flex-grow">
                    <h2 id="title-2" class="text-lg title-font text-center md:text-left font-medium mb-3">{{ site.data["index"].title-2 }}</h2>
                    <p class="leading-relaxed text-base" id="description-2">{{ site.data["index"].description-2 }}</p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row w-5/6 justify-center bg-white shadow-md rounded-lg p-8 mt-8 sm:mt-0 my-4 gap-4 animated-hidden animated-element">
                <div class="self-center">
                    <div class="h-24 w-24 rounded-full bg-detail  flex justify-center items-center">
                        <img class="h-20 w-20" src="/assets/pin.svg" alt="Pin Logo">
                    </div>
                </div>
                <div class="flex-grow">
                    <h2 id="title-3" class="text-lg title-font text-center md:text-left font-medium mb-3">{{ site.data["index"].title-3 }}</h2>
                    <p class="leading-relaxed text-base" id="description-3">{{ site.data["index"].description-3 }}</p>
                </div>
            </div>

        </div>

        <h2 id="section-title-2"
            class="w-full md:w-1/2 px-2 py-2 align-baseline text-3xl sm:text-5xl font-bold leading-tight text-center text-white bg-alternative rounded-full break-words">
            {{ site.data["index"].section-title-2 }}</h2>

        <div class="flex flex-col justify-center items-center pt-8 my-0 md:my-8 sm:my-4">

            <div class="flex flex-col md:flex-row w-5/6 justify-center bg-white shadow-md rounded-lg p-8 mt-8 sm:mt-0 my-4 gap-4 animated-hidden animated-element">
                <div class="self-center">
                    <div class="h-24 w-24 rounded-full bg-detail flex justify-center items-center">
                        <img class="h-20 w-20" src="/assets/eye.svg" alt="Eye">
                    </div>
                </div>
                <div class="flex-grow">
                    <p class="leading-relaxed text-base" id="description-4">{{ site.data["index"].description-4 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ
<section class="bg-gray-100 py-8">
    <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800 animated-hidden">
        <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">FAQ</h2>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="flex flex-col justify-center items-center pt-8 my-12 sm:my-4">

            <div class="flex flex-wrap w-5/6 -mx-1 justify-center animated-hidden animated-element">
                <div class="flex flex-wrap w-full">
                    <div class="w-full p-3">
                        <div class="bg-white shadow-md rounded-lg p-5">
                            <div class="flex flex-col md:flex-row justify-between items-center">
                                <h2 class="text-gray-900 font-medium text-lg mb-2 md:mb-0">Comment ça fonctionne ?</h2>
                            </div>
                            <p class="text-gray-700 leading-relaxed mt-2">Pour utiliser True Tourism, il suffit de
                                télécharger l'application depuis l'App Store ou le Play Store, et de créer un compte.
                                Ensuite, vous pouvez parcourir les visites disponibles et réserver celle qui vous
                                intéresse.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap w-5/6 -mx-1 justify-center animated-hidden animated-element">
                <div class="flex flex-wrap w-full">
                    <div class="w-full  p-3">
                        <div class="bg-white shadow-md rounded-lg p-5">
                            <div class="flex flex-col md:flex-row justify-between items-center">
                                <h2 class="text-gray-900 font-medium text-lg mb-2 md:mb-0">Comment devenir guide ?</h2>
                            </div>
                            <p class="text-gray-700 leading-relaxed mt-2">Pour devenir guide, il suffit de créer un
                                compte sur l'application, et de renseigner les informations sur votre profil. Vous
                                pouvez ensuite commencer à proposer vos visites sur mesures dans l'application.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<footer class="bg-white">
    <div class="container mx-auto px-8 py-4">

        <div class="w-full flex flex-col items-center justify-center py-4">
            {% for lang in site.languages %}

            {% if lang == page.lang %} {% continue %} {% endif %}

            {% capture lang_href %}{{site.baseurl}}/{% if lang != site.default_lang %}{{ lang }}/{% endif %}{% if page.permalink_lang[lang] != '/' %}{{page.permalink_lang[lang]}}{% endif %}{% endcapture %}

            <a class="no-underline hover:underline text-alternative hover:text-green-500 px-8"
               href="{% if lang_href == '/' %}{{ site.url }}{% else %}{{ lang_href }}{% endif %}">
                {{ site.languages_aliases[lang] }}
            </a>
            {% endfor %}
        </div>

        <div class="w-full flex flex-col md:flex-row items-center justify-center">

            <a class="px-4" href="https://www.tiktok.com/@truetourism">
                <img class="h-12 w-12" src="/assets/tiktok.svg" alt="TikTok">
            </a>
            <a class="px-4" href="https://www.instagram.com/true.tourism/">
                <img class="h-12 w-12" src="/assets/instagram.svg" alt="Instagram">
            </a>

            <a class="px-4" href="https://www.linkedin.com/company/truetourismfr">
                <img class="h-12 w-12" src="/assets/linkedin.svg" alt="LinkedIn">
            </a>

        </div>

        <div class="w-full flex flex-col items-center justify-center py-4">
            <a id="contact" class="no-underline hover:underline text-alternative hover:text-green-500 px-8"
               href="mailto:communication@truetourism.fr">{{ site.data["index"].contact }}</a>
            <a id="legal" href="{{ site.url }}/legal"
               class="no-underline hover:underline text-alternative hover:text-green-500 px-8">{{ site.data["index"].legal }}</a>
        </div>

    </div>
</footer>
</body>
</html>
