<!-- Réserver une visite -->
<section class="w-full flex flex-col md:flex-row items-center p-8 pt-36 justify-between bg-gray-50">
    <div class="flex-1 flex flex-col items-center md:items-start text-center md:text-left space-y-6">
        <h2 class="text-3xl md:text-5xl font-bold">
            {{ site.data["home"].section-title-hero }}
        </h2>
        <p class="leading-relaxed text-base">
            {{ site.data["home"].section-content-hero }}
        </p>
        <div class="w-full items-center">
            <!-- Call to Action and Stores -->
            <div class="flex flex-col md:flex-col gap-4">
                {% include cta.html %}
                {% include stores.html %}
            </div>
        </div>

    </div>

    <!-- Image Section -->
    <div class="flex flex-1 justify-center relative">
        <img class="w-3/4 opacity-80" src="/assets/images/path.png" alt="Path image">
    </div>
</section>

<!-- Un concepteur novateur -->
<section class="w-full flex flex-col md:flex-row items-center p-8 mt-16">
    <div class="flex-1 flex flex-col space-y-4 text-center md:text-left">
        <h2 class="text-3xl md:text-5xl font-bold">
            {{ site.data["home"].section-title-1 }}
        </h2>
        <p class="leading-relaxed text-base">
            {{ site.data["home"].section-content-1 }}
        </p>
    </div>

    <div class="flex-1 flex justify-center mt-8 md:mt-0">
        <img class="w-3/4 rounded-xl shadow-lg" src="/assets/images/couvent-belle-de-mai.jpeg" alt="Couvent Belle de Mai">
    </div>
</section>

<!-- Des prix pour tous les budgets -->
<section class="w-full flex flex-col items-center p-8 mt-16 bg-light">
    <h2 class="text-3xl md:text-5xl font-bold text-center mb-6">
        {{ site.data["home"].section-title-2 }}
    </h2>
    <p class="w-full md:w-3/5 lg:w-1/2 leading-relaxed text-center mx-auto">
        {{ site.data["home"].section-content-2 }}
    </p>

    <!-- Call to Action -->
    <div class="mt-8">
        {% include cta.html %}
    </div>
</section>

<!-- Thématiques -->
<section class="w-full flex flex-col md:flex-row items-start p-8 mt-16">
    <div class="flex-1 space-y-6">
        <h2 class="text-3xl md:text-5xl font-bold">
            {{ site.data["home"].section-title-3 }}
        </h2>
        <p class="leading-relaxed text-base mb-4">
            {{ site.data["home"].section-content-3 }}
        </p>

        {% for item in site.data["home"].section-items-3 %}
        <div class="mb-6">
            <!-- Titre avec flèche cliquable -->
            <h3 class="text-lg font-medium cursor-pointer flex justify-between items-center" onclick="toggleContent({{ forloop.index }}, 'arrow', 'content')">
                {{ item[0] }}
                <span id="arrow-{{ forloop.index }}" class="transition-transform duration-300">&#9660;</span>
            </h3>
            <!-- Contenu dépliable -->
            <p id="content-{{ forloop.index }}" class="leading-relaxed hidden">
                {{ item[1] }}
            </p>
        </div>
        {% endfor %}

        <p class="leading-relaxed mt-4">{{ site.data.fr.home.section-outro-3 }}</p>
    </div>

    <div class="flex-1 flex justify-center mt-8 md:mt-0">
        <img class="w-3/4 rounded-xl shadow-lg" src="/assets/images/couvent-belle-de-mai.jpeg" alt="Couvent Belle de Mai">
    </div>
</section>

<!-- Visiter et respecter -->
<section class="w-full flex flex-col items-center p-8 mt-16 bg-gray-100">
    <h2 class="text-3xl md:text-5xl font-bold text-center mb-6">
        {{ site.data["home"].section-title-4 }}
    </h2>
    <p class="w-full md:w-3/5 lg:w-1/2 text-center leading-relaxed">
        {{ site.data["home"].section-content-4 }}
    </p>
</section>

<!-- Nos valeurs -->
<section class="w-full flex flex-col md:flex-row items-start p-8 mt-16">
    <div class="flex-1 flex justify-center">
        <img class="w-3/4 rounded-xl shadow-lg" src="/assets/images/couvent-belle-de-mai.jpeg" alt="Couvent Belle de Mai">
    </div>

    <div class="flex-1 space-y-6 mt-8 md:mt-0">
        <h2 class="text-3xl md:text-5xl font-bold">
            {{ site.data["home"].section-title-5 }}
        </h2>

        {% for item in site.data["home"].section-items-5 %}
        <div>
            <h3 class="text-lg font-medium">{{ item[0] }}</h3>
            <p class="leading-relaxed">{{ item[1] }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Qui sommes-nous ? -->
<section class="w-full flex flex-col items-center p-8 mt-16 bg-gray-50">
    <h2 class="text-3xl md:text-5xl font-bold text-center mb-6">
        {{ site.data["home"].section-title-6 }}
    </h2>
    <p class="w-full md:w-3/5 lg:w-1/2 leading-relaxed text-center">
        {{ site.data["home"].section-content-6 }}
    </p>
</section>

<!-- Quels quartiers ne pas rater -->
<section class="w-full flex flex-col md:flex-row items-start p-8 mt-16">
    <div class="flex-1 space-y-6">
        <h2 class="text-3xl md:text-5xl font-bold">
            {{ site.data["home"].section-title-7 }}
        </h2>

        {% for item in site.data["home"].section-items-7 %}
        <div>
            <h3 class="text-lg font-medium">{{ item[0] }}</h3>
            <p class="leading-relaxed">{{ item[1] }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="flex-1 flex justify-center mt-8 md:mt-0">
        <img class="w-3/4 rounded-xl shadow-lg" src="/assets/images/couvent-belle-de-mai.jpeg" alt="Couvent Belle de Mai">
    </div>
</section>

<!-- Foire aux questions -->
<section class="w-full flex flex-col md:flex-row items-start p-8 mt-16 bg-gray-100">
    <div class="flex-1 flex justify-center">
        <img class="w-3/4 rounded-xl shadow-lg" src="/assets/images/couvent-belle-de-mai.jpeg" alt="Couvent Belle de Mai">
    </div>

    <div class="flex-1 space-y-6 mt-8 md:mt-0">
        <h2 class="text-3xl md:text-5xl font-bold">
            {{ site.data["home"].section-title-8 }}
        </h2>

        {% for item in site.data["home"].section-items-8 %}
        <div class="flex flex-col w-full bg-white shadow-md rounded-lg p-6">
            <!-- Titre avec flèche cliquable -->
            <h3 class="text-lg font-medium cursor-pointer flex justify-between items-center" onclick="toggleContent({{ forloop.index }}, 'arrow2', 'content2')">
                {{ item[0] }}
                <span id="arrow2-{{ forloop.index }}" class="transition-transform duration-300">&#9660;</span>
            </h3>
            <!-- Contenu dépliable -->
            <p id="content2-{{ forloop.index }}" class="leading-relaxed hidden">
                {{ item[1] }}
            </p>
        </div>
        {% endfor %}
    </div>
</section>

<script>
    function toggleContent(index, arrowIdPrefix, contentIdPrefix) {
        const content = document.getElementById(`${contentIdPrefix}-${index}`);
        const arrow = document.getElementById(`${arrowIdPrefix}-${index}`);

        if (content.style.display === "block") {
            content.style.display = "none";
            arrow.style.transform = "rotate(0deg)";
        } else {
            content.style.display = "block";
            arrow.style.transform = "rotate(180deg)";
        }
    }
</script>
