    <div class="w-full md:w-full sm:w-1/2 flex flex-row justify-center items-center  mx-auto">
        <a
                class="flex flex-col items-center"
                href="https://apps.apple.com/us/app/true-tourism/id6449162292?itsct=apps_box_badge&amp;itscg=30200">
            <img
                    class="h-36 w-36 object-contain"
                    id="app-store"
                    alt="Télécharger sur l’App Store"
                    src="{{ site.data['index'].app-store }}"
            >
        </a>
        <a
                class="flex flex-col items-center"
                href="https://play.google.com/store/apps/details?id=fr.truetourism.app&utm_source=truetourism.fr&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
            <img
                    class="h-36 w-36 object-contain"
                    id="google-play"
                    alt="Disponible sur Google Play"
                    src="{{ site.data['index'].google-play }}"
            />
        </a>
    </div>
