<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00B382">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="tourisme, voyage, guide, visite, visite guidée, guide touristique, guide local, guide local, marseille, aix-en-provence, provence, côte d'azur, côte d'azur, france, europe, monde, application, mobile, application mobile, application de voyage">
    <link rel="icon" href="https://www.truetourism.fr/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="https://www.truetourism.fr/favicon.ico" type="image/x-icon"/>

    <!-- Tailwind CSS -->
    <link href="/dist/output.css" rel="stylesheet">
    <link href="/css/animation.css" rel="stylesheet">

    <script defer src="/js/animation.js"></script>

    {% seo %}
</head>

<style>
    .landing-container img {
        width: 100%;
        max-height: 350px;
        max-width: 1000px;
        object-fit: cover;
        margin: 1rem auto;
        border-radius: 0.25rem;
    }

    .landing-container .mockup {
        max-height: 500px;
        object-fit: contain;
    }
</style>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

{% include header.html %}

<section class="py-6">
    <div class="w-full md:w-2/3 xl:w-2/5 container flex flex-col items-center mx-auto px-2 pt-4 pb-12 animated-hidden">
        <div class="flex flex-col my-0 sm:my-4 landing-container">
            {{ content }}
        </div>

        <img src="/assets/true_tourism_logo_green_pin.svg" alt="Logo TrueTourism" class="mockup">

        <div class="flex flex-col items-center my-4">
            <a {% static_href %}href="/store"{% endstatic_href %} target="_blank"
               style="box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);"
               class="flex flex-row items-center gap-2 text-white bg-detail hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">
                {{ site.data['index']['book-a-tour'] }}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                </svg>
            </a>
        </div>

    </div>
</section>

{% include footer.html %}

</body>
</html>
