<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00B382">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="tourisme, voyage, guide, visite, visite guidée, guide touristique, guide local, guide local, marseille, aix-en-provence, provence, côte d'azur, côte d'azur, france, europe, monde, application, mobile, application mobile, application de voyage">
    <link rel="icon" href="https://www.truetourism.fr/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="https://www.truetourism.fr/favicon.ico" type="image/x-icon"/>

    <!-- Tailwind CSS -->
    <link href="/dist/output.css" rel="stylesheet">
    <link href="/css/animation.css" rel="stylesheet">

    <script defer src="/js/animation.js"></script>

    {% seo %}
</head>

<style>
    .landing-container p {
        text-align: justify;
        margin-bottom: 1rem;
    }

    .landing-container img {
        width: 100%;
        max-height: 350px;
        max-width: 1000px;
        object-fit: cover;
        margin: 1rem auto;
        border-radius: 0.25rem;
    }

    .landing-container .mockup {
        max-height: 500px;
        object-fit: contain;
    }
</style>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

{% include header.html %}

<section class="py-6">
    <div class="w-full md:w-2/3 xl:w-2/5 container flex flex-col items-center mx-auto px-2 pt-4 pb-12 animated-hidden">
        <h1 class="hidden">{{ page.title }}</h1>

        <div class="flex flex-col my-0 sm:my-4 landing-container">
            {{ content }}
        </div>

        <img src="/assets/true_tourism_logo_green_pin.svg" alt="Logo TrueTourism" class="mockup">

        {% include cta_small.html %}
    </div>
</section>

{% include footer.html %}

</body>
</html>
